<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>HousingCooperative</title>
  <link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>

<div class="main">
  <form action="/registration" class="form" method="post">
    <div class="container-bottom">
      <h2>Регистрация</h2>
    </div>    
    <div class="container">
      <label for="username"><b>Логин</b></label>
      <input type="text" placeholder="Введите логин" name="username" class="input" required>

      <label for="password"><b>Пароль</b></label>
      <input type="password" placeholder="Введите пароль" name="password" class="input" required>

      <input type="hidden" name="_csrf" value="{{_csrf.token}}" />
      <button type="submit" class="btn">Зарегистрироваться</button>
    </div>
    <div class="container-bottom">
      <button type="button" class="cancelbtn btn">Отмена</button>
    </div>
  </form>
</div>
</div>
</body>
</html>